<h1>tikiarte</h1>
<h2>“Every child is an artist. The problem is how to remain an artist once we grow up” - Pablo Picasso</h2>

<h3>Welcome to tikiarte, a safe platform to showcase artwork created by kids. MORE DETAILS</h3>

<h3>EXPLAIN HOW IT WORKS</h3>

<style>
ol {
  background: #ff9999;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}
</style>
</head>
<body>

<ol id='list'>
  <li>You, The Adult, creates an account.</li>
  <li>After your account is created, add a kid - or multiple kids - to your account with their full name. Any additional details are optional.</li>
  <li>Start uploaded images of artwork to showcase!</li>
</ol>

</body>
</html>

<section id="user-options">
  <% if current_user %>
   <%= button_to "Log out", '/logout', method: :delete %>
  <% else %>
   <p>I want this service, sign me up!</p>
   <%= link_to "Register", new_register_path %>
   <p>I already have an account.</p>
   <%= link_to "Log me in!", '/login', method: :get %>
<% end %>
</section>
